<div class="relative padding20">
  <div class="sticky">
    <!-- <tr *ngFor="let header of headers">
      <th scope="col" *ngFor="let item of header | keyvalue">
        <span>{{item.value | uppercase}}</span>
      </th>
    </tr> -->
    <div class="row">
      <div scope="col" *ngFor="let item of headers | keyvalue" class="bg-gray bottmBorder2">
        <div [ngClass]="{'medium': item.value == 'medium', 'large': item.value == 'large', 'small': item.value == 'small'}">{{item.key | uppercase}}</div>
      </div>
    </div>
  </div>
  <div class="column" #Infinite>
    <div *ngFor="let display of displayList" class="row">
      <div
        *ngFor="let item of display | keyvalue"
      >
        <div [ngClass]="checkClassName(item.key)" *ngIf="item.value !== 'action' else actionspan">
          {{item.value}}
        </div>
        <ng-template #actionspan>
          <div class="medium"><button (click)="sendRowData(display)">Send</button></div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" style="position: fixed; width: 100vw; height: 100vh; background-color: rgba(100, 100, 100, 0.3); z-index: 100;">
  Loading...
</div>