
div.large {
    width: 320px !important;
}

div.medium {
    width: 150px !important;
}

div.small {
    width: 50px !important;
}

.row {
    display: flex;
    flex-direction: row;
}

div.row > div {
    border: 1px solid black;
}

div.column > div:nth-child(even) > div {
    background-color: lightgrey;
}

.column {
    display: flex;
    flex-direction: column;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
    top:-5px;
}

.bg-gray {
    background-color: darkgray;
}

.scroll-y {
    overflow-y: overlay;
}

.padding20 {
    padding-top: 20px;
}

.bottmBorder2 {
    border-bottom: 2px solid black;
}