<div style="display: flex; flex-direction: row; justify-content: space-evenly">
  <div>
      <label for="rowdropdown">Select how many rows to show in each page</label>
      <br />
      <select [disabled]="router.url === '/infinite'" [ngClass]="{'disabled': router.url === '/infinite'}" id="rowdropdown" [(ngModel)] = "maxRowNumber" (change)="changeMaxRow($event)">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
  </div>
  <div>
    <button [ngClass]="getClassName('regular')" [routerLink]="['/regular']">Regular</button>
    <button [ngClass]="getClassName('infinite')" [routerLink]="['/infinite']">Infinite</button>
  </div>
</div>
