<div>
  <div *ngIf="router.url !== '/infinite' else InfiniteFooter">
    <span *ngFor="let page of pagination; let i = index" class="pagination">
        <a href="#" (click)="(currentPage != i) && changePagination(i)">
          <span *ngIf="(currentPage == i)">Current</span>
          {{i+1}}
        </a>
      </span>
  </div>
  
  <ng-template #InfiniteFooter>
    <div>
      <span>Infinite Loading is Enabled</span>
    </div>
  </ng-template>
</div>