*, body {
    box-sizing: border-box;
    margin: 0px;
}

.header, .content, .footer {
    width: 100vw;
    padding: 5px;
}

@media screen and (min-height: 600px) {
    .header, .footer {
        height: 100px;
        overflow: hidden;
    }

    .content {
        max-height: calc(100vh - 200px);
        height: calc(100vh - 200px);
        overflow: auto;
    }

}

@media screen and (max-height: 599px) {
    .header, .footer {
        height: 50px;
        overflow: hidden;
    }

    .content {
        max-height: calc(100vh - 100px);
        height: calc(100vh - 100px);
        overflow: auto;
    }

}