<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <app-header></app-header>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>

