<div class="relative padding20">
    <div class="sticky">
      <!-- <tr *ngFor="let header of headers">
        <th scope="col" *ngFor="let item of header | keyvalue">
          <span>{{item.value | uppercase}}</span>
        </th>
      </tr> -->
      <div class="row">
        <div scope="col" *ngFor="let item of headers | keyvalue" class="bg-gray bottmBorder2">
          <div [ngClass]="{'medium': item.value == 'medium', 'large': item.value == 'large', 'small': item.value == 'small'}">{{item.key | uppercase}}</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div *ngFor="let display of displayList" class="row">
        <div
          *ngFor="let item of display | keyvalue"
        >
          <div [ngClass]="checkClassName(item.key)" *ngIf="item.value !== 'action' else actionspan">
            {{item.value}}
          </div>
          <ng-template #actionspan>
            <div class="medium"><button (click)="sendRowData(display)">Send</button></div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>